@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pacifico', sans-serif;
}

body {
    background-color: darkslateblue;
    height: 100vh;
    display: grid;
    place-items: center;
}

figure {
    width: 336px;
    height: 403px;
    position: relative;
    background-color: rgb(246, 232, 216);
    padding: 1.2rem 1.2rem 2rem 1.2rem;
}

figure img {
    width: 100%;
}

figure figcaption {
    font-size: 1.2rem;
    text-align: center;
    color: rgb(34, 32, 32);
    margin-top: 0.5rem;
}